@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inner {
    @apply mx-auto w-full max-w-screen-xl;
  }
}
.icon-title {
  display: flex;
  align-items: center; 
}
.icon-title {
  width: 40px; 
  height: auto;
  margin-right: 10px; 
}